.logos {
    overflow: hidden;
    padding: 60px;
    background: white;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    white-space: nowrap;
    padding: 0 0 0 0; /* No extra padding */
    animation: scroll 35s linear infinite;
}

.logos-slide img {
    height: 50px;
    margin: 0 30px; /* Adjusted for spacing */
}

/* Keyframes for horizontal scrolling */
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}